<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab4">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contáctanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contáctanos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Si deseas comunicarte con nosotros, envíanos un mensaje.</p>
      <iframe 
        src="https://maps.google.com/maps?q=18.4655,-66.1057&hl=es&z=14&output=embed" 
        width="100%" 
        height="200" 
        style="border:0;" 
        allowfullscreen 
        loading="lazy">
      </iframe>
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="correo" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mensaje</ion-label>
        <ion-textarea [(ngModel)]="mensaje"></ion-textarea>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="enviarMensaje()">Enviar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
