.profile-container {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #313030ab;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.scroll-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

ion-toolbar{
  margin-top: 50px;
}

ion-content {
  --keyboard-offset: 150px;
  padding-bottom: 20px;
  scroll-padding-bottom: 150px;
}

.info-container {
  height: 500px;
  min-height: 100px;
  max-height: calc(100vh - 250px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.keyboard-active ion-content {
  --keyboard-offset: 120px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 15px;
}

.edit-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  color: #d8a305;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.edit-button {
  margin-top: 5px;
  width: 100%;
  border-radius: 25px;
  font-weight: bold;
  --background: #FFC107 !important;
  --background-hover: #d8a305 !important;
  --background-activated: #d8a305 !important;
  --background-focused: #d8a305 !important;
  --color: white;
}


ion-list {
  width: 100%;
  flex-grow: 1;
}

ion-item {
  --border-radius: 10px;
  margin-bottom: 10px;
}

.button-group {

  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
  height: 70px;
  width: 80%;
}

.save-button, .cancel-button {
  width: 48%;
  border-radius: 25px;
  font-weight: bold;
}

.save-button {
  --background: #FFC107 !important;
  --background-hover: #d8a305 !important;
  --background-activated: #d8a305 !important;
  --background-focused: #d8a305 !important;
  --color: black;
}

.cancel-button {
  --background: #142145 !important;
  --background-hover: #121e3f !important;
  --background-activated: #121e3f !important;
  --background-focused: #121e3f !important;
  --color: white;

}
.error-field {
  --border-color: red;
  --border-width: 2px;

}
