<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <ion-avatar class="profile-avatar" (click)="mostrarOpcionesFoto()">
      <img [src]="fotoPerfil" alt="Foto de perfil">
      <ion-icon class="edit-icon" name="create-outline"></ion-icon>
    </ion-avatar>
    
    <input type="file" #fileInput (change)="cargarImagen($event)" hidden>

    <div class="button-edit">
    <ion-button expand="block" (click)="habilitarEdicion()" class="edit-button">
      Editar Perfil
    </ion-button>
  </div>
  </div>

  <div class="info-container">
    <ion-list>
      <ion-item [ngClass]="{'error-field': errores['nombre']}">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="nombrePerfil" [disabled]="!modoEdicion"></ion-input>
      </ion-item>
      
      <ion-item [ngClass]="{'error-field': errores['apellidoPaterno']}">
        <ion-label position="stacked">Apellido Paterno</ion-label>
        <ion-input [(ngModel)]="apellidoPaterno" [disabled]="!modoEdicion"></ion-input>
      </ion-item>
      
      <ion-item [ngClass]="{'error-field': errores['apellidoMaterno']}">
        <ion-label position="stacked">Apellido Materno</ion-label>
        <ion-input [(ngModel)]="apellidoMaterno" [disabled]="!modoEdicion"></ion-input>
      </ion-item>
      
      <ion-item [ngClass]="{'error-field': errores['telefono']}">
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input [(ngModel)]="telefonoPerfil" type="tel" [disabled]="!modoEdicion"></ion-input>
      </ion-item>
      
      <ion-item [ngClass]="{'error-field': errores['correo']}">
        <ion-label position="stacked">Correo</ion-label>
        <ion-input [(ngModel)]="correoPerfil" type="email" [disabled]="!modoEdicion"></ion-input>
      </ion-item>
      
    </ion-list>
  </div>

  <div class="button-group">
    <ion-button expand="block" (click)="guardarPerfil()" [disabled]="!modoEdicion" class="save-button">
      Guardar Cambios
    </ion-button>
    <ion-button expand="block" (click)="navigateToTab4()" class="cancel-button">
      Cancelar
    </ion-button>
  </div>
</ion-content>
