.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.camera-button, .gallery-button {
  width: 80%;
  margin: 5px 0;
}

.camera-button {
  --background: #28a745 !important; /* Verde */
}

.gallery-button {
  --background: #007bff !important; /* Azul */
}

.save-button {
  margin-bottom: 10px;
  --background: #FFC107 !important;
  --background-hover: #d8a305 !important;
  --background-activated: #d8a305 !important;
  --background-focused: #d8a305 !important;
}

.cancel-button {
  margin-bottom: 10px;
  --background: #142145 !important;
  --background-hover: #121e3f !important;
  --background-activated: #121e3f !important;
  --background-focused: #121e3f !important;
}
