.login-background {
    --background: #090C15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Imagen superior */
.login-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.login-image ion-img {
    width: 200px;
    height: auto;
}

/* Caja de login */
.login-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

input{
    color: black;
}

input:hover{
    color: black;
}

ion-item.input-field {
    height: 75px;
    --background: #ffffff !important; 
    --color: #000000 !important;  
    --placeholder-color: #bebababb;
    border-radius: 10px; 
    border: 1px solid #ccc;
    padding: 10px;
}

.item-native{
    background: white;
}

.input-field {
    margin-bottom: 15px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    text-align: left;
}

.forgot-password {
    font-size: 13px;
    color: #007bff;
    text-align: right;
    margin-bottom: 10px;
}

.login-button {
    --background: #FFC107 !important;
    color: white !important;
    font-weight: bold;
    border: none;
    --background-hover: #d8a305 !important;
    --background-activated: #d8a305 !important;
    --background-focused: #d8a305 !important;
    margin-bottom: 20px;
}

.create-account {
    font-size: 14px;
    margin-top: 15px;
    color: #555;
}

.or-continue {
    font-size: 13px;
    color: #777;
    margin: 10px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons ion-icon {
    font-size: 24px;
    color: #444;
    background: #f4f6fc;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons ion-icon:hover {
    background: #ddd;
}

.welcome-text {
    font-size: 20px;
    font-weight: bold;
    color: #1a43cd;
    margin-bottom: 20px;
}