<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Realizar Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Resumen del Pedido -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen del Pedido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of carrito">
          <ion-label>
            <h2>{{ item.producto.nombre }}</h2>
            <p>Cantidad: {{ item.cantidad }}</p>
            <p>Precio: {{ item.producto.precio | currency }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label>Total:</ion-label>
        <ion-label slot="end">{{ total | currency }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Dirección de Envío -->
  <ion-item [routerLink]="['/cambiar-direccion']" detail="true" [button]="true">
    <ion-icon slot="start" name="location-outline"></ion-icon>
    <ion-label>
      <p class="label-title">Envío a domicilio</p>
      <p *ngIf="tieneDirecciones; else sinDireccion" class="address-text">
        {{ direccionSeleccionada.direccion.substring(0, 35) }}
      </p>
      <ng-template #sinDireccion>
        <p class="address-text">Agregar dirección</p>
      </ng-template>
    </ion-label>
  </ion-item>

  <!-- Método de Pago -->
  <ion-item [routerLink]="['/metodos-pago']" detail="true" [button]="true">
    <img *ngIf="tieneMetodosPago" [src]="getCardImage(metodoPagoSeleccionado.numero)" alt="Card Logo" class="card-logo" />
    <ion-label>
      <p *ngIf="tieneMetodosPago; else sinMetodoPago">
        {{ metodoPagoSeleccionado.tipo }} <strong>•••• </strong>{{ metodoPagoSeleccionado.numero.substring(12, 16) }}
      </p>
      <ng-template #sinMetodoPago>
        <p>Agregar método de pago</p>
      </ng-template>
    </ion-label>
  </ion-item>

  <!-- Botón de Pagar -->
  <ion-button expand="block" (click)="pagar()" [disabled]="!tieneDirecciones || !tieneMetodosPago">
    Pagar
  </ion-button>
</ion-content>