<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar dirección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Direcciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Seleccionar Dirección Principal -->
  <ion-item>
    <ion-label>Seleccionar Dirección</ion-label>
    <ion-select [(ngModel)]="direccionSeleccionada" (ionChange)="guardarDireccionPrincipal()">
      <ion-select-option *ngFor="let direccion of direcciones" [value]="direccion">
        {{ direccion.calle }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista de Direcciones -->
  <div class="direction-container">
    <ion-list *ngIf="direcciones.length > 0; else noDirecciones">
      <ion-card *ngFor="let direccion of direcciones" class="direccion-card">
        <ion-card-header>
          <ion-card-title>{{ direccion.calle }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Dirección:</strong> {{ direccion.calle }}</p>
          <p><strong>Estado:</strong> {{ direccion.estado }}</p>
        </ion-card-content>
        <ion-button class="edit-direc" expand="full" (click)="editarDireccion(direccion)">
          Editar
        </ion-button>
        <ion-button color="danger" expand="full" (click)="borrarDireccion(direccion)">
          Borrar
        </ion-button>
      </ion-card>
    </ion-list>

    <ng-template #noDirecciones>
      <ion-item>
        <ion-label>No hay direcciones guardadas</ion-label>
      </ion-item>
    </ng-template>

    <ion-button class="agg-direc" expand="block" (click)="irAAgregarDireccion()">
      Agregar Dirección
    </ion-button>
  </div>
</ion-content>