.direction-container {
    padding: 20px;
  }
  
  .direccion-card {
    margin-bottom: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-header {
    padding: 10px;
  }
  
  ion-card-title {
    font-weight: bold;
  }
  
  ion-card-content {
    padding: 10px;
  }
  
  ion-button {
    margin-top: 10px;
  }

  .edit-direc{
    font-weight: bold;
    color: white;
    --background: #142145 !important;
    --background-hover: #121e3f !important;
    --background-activated: #121e3f !important;
    --background-focused: #121e3f !important;
  }

  .agg-direc{
    width: 80%;
    margin-left: 36px;
    font-weight: bold;
    --background: #FFC107 !important;
    --background-hover: #d8a305 !important;
    --background-activated: #d8a305 !important;
    --background-focused: #d8a305 !important;
  }
  