.delivery {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.location-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px;
}

.location-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #635f5f7e;
}

.location-icon ion-icon {
  font-size: 18px;
  color: #333;
}

.address-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.address-row {
  display: flex;
  align-items: center;
  gap: 4px;
}

.address {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.cart-icon {
  position: relative;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon ion-icon {
  font-size: 26px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 6px;
  min-width: 18px;
  text-align: center;
}

/* Lista de categorías */
.categories-container {
  padding: 10px;
}

.see-all {
  font-size: 14px;
  color: #007aff;
  text-transform: none;
}

.categories-wrapper {
  border-radius: 10px;
  padding: 10px 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.categories-grid {
  padding: 10px;
  max-width: 100%;
  gap: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
  margin: 15px;
  border: 2px solid #5e5c5c96;
  border-radius: 10px;
  min-width: max-content;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  justify-content: center;
  align-items: center;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}

.category-card {
  flex: 0 0 auto;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 12px;
  padding: 15px;
  width: 110px;
  height: 110px;
  min-height: 90px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  scroll-snap-align: center;
  white-space: normal;
  overflow: hidden;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-icon {
  font-size: 32px;
  color: #007aff;
}

.category-title {
  font-size: 12px;
  margin-top: 5px;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  line-clamp: 3;

}

h2 {
  margin-left: 40px;
  font-weight: bold;
}

.carousel-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 15px;
  padding: 10px;
  scroll-behavior: smooth; 
}

.carousel {
  display: flex;
}

.slide-content {
  width: 260px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  min-height: 350px; 
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}

.slide-image {
  height: auto;
  width: 150px;
  border-radius: 10px;
}

.slide-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.slide-description {
  height: 65px;;
  font-size: 0.9em;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.cote-button {
  background: #FFC107 !important;
  color: white !important;
  font-weight: bold;
  border: none;
  --background-hover: #d8a305 !important;
  --background-activated: #d8a305 !important;
  --background-focused: #d8a305 !important;
  margin-bottom: 20px;  color: white;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  margin-top: auto;
}

div {
  margin-bottom: 10px;
}
