

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <div class="delivery">
      <ion-icon name="location-outline"></ion-icon>
      <div class="address-info">
        <p class="title">Delivery Address</p>
        <p class="address">{{ address }}</p>
      </div>
      <ion-icon name="chevron-forward-outline" (click)="openMaps()"></ion-icon>
      <div class="cart-icon">
        <ion-icon name="cart-outline"></ion-icon>
        <span *ngIf="cartCount > 0" class="cart-count">{{ cartCount }}</span>
      </div>
    </div>
  </ion-toolbar>
</ion-content>
