<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tu carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="shop-container">
    <ion-list>
      <ion-item class="cart-item" *ngFor="let item of carrito">
        <ion-label>
          <h2 class="product-name">{{ item.producto.nombre }}</h2>
          <p class="product-description">{{ item.producto.descripcion }}</p>
          <p class="product-price"><strong>{{ item.producto.precio | currency }}</strong></p>
          <p class="product-quantity">Cantidad: {{ item.cantidad }}</p>
        </ion-label>
        <ion-button fill="clear" (click)="eliminarProducto(item)">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-item class="total-container">
      <ion-label class="total-label">Total:</ion-label>
      <ion-label slot="end" class="total-price">{{ total | currency }}</ion-label>
    </ion-item>

    <div class="button-container">
      <ion-button class="next-shop" expand="block" routerLink="/realizarpedido">Continuar</ion-button>
      <ion-button class="clean-car" expand="block" id="present-alert" (click)="limpiarCarrito()">Limpiar Carrito</ion-button>
<ion-alert
  trigger="present-alert"
  header="Limpiar carrito"
  message="¿Deseas eliminar los objetos del carrito?"
  [buttons]="alertButtons"
></ion-alert>
    </div>
  </div>
</ion-content>
