<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="navigateToCambiarDireccion()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ editando ? 'Editar Dirección' : 'Agregar Dirección' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-container">
    <ion-list lines="none">
      <!-- Campo: Calle -->
      <ion-item>
        <ion-label position="stacked">Calle</ion-label>
        <ion-input
          [(ngModel)]="direccion.calle"
          placeholder="Ingrese la calle"
          required
        ></ion-input>
      </ion-item>

      <!-- Campo: Ciudad -->
      <ion-item>
        <ion-label position="stacked">Ciudad</ion-label>
        <ion-input
          [(ngModel)]="direccion.ciudad"
          placeholder="Ingrese la ciudad"
          required
        ></ion-input>
      </ion-item>

      <!-- Campo: Estado -->
      <ion-item>
        <ion-label position="stacked">Estado</ion-label>
        <ion-input
          [(ngModel)]="direccion.estado"
          placeholder="Ingrese el estado"
          required
        ></ion-input>
      </ion-item>

      <!-- Campo: Código Postal -->
      <ion-item>
        <ion-label position="stacked">Código Postal</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="direccion.codigopostal"
          maxlength="5"
          placeholder="00000"
          (ngModelChange)="validarCP()"
          required
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="errorCP">
        El código postal debe contener exactamente 5 números.
      </ion-text>
    </ion-list>

    <!-- Botón para guardar o actualizar -->
    <ion-button expand="block" class="save-button" (click)="guardarDireccion()">
      {{ editando ? 'Actualizar Dirección' : 'Guardar Dirección' }}
    </ion-button>
  </div>
</ion-content>